
body {
    font-family: "Open Sans", sans-serif; 
}
  
.jumbotron {
    background-color: #e74fd3;
    color: white; 
    font-family: cursive;
    padding-top: 3%;
    padding-bottom: 0%;
}

.navbar {
    padding-top: 4%;
    font-style: bold;
}

.fa {
    color: white;
    font-size: 20pt; 
}

#title {
    color:white;
   font-weight: bold;
}

a:hover {
    text-decoration: none;
}