
body {
    font-family: "Open Sans", sans-serif; 
}
  
.jumbotron {
    background-color: #e74fd3;
    color: white; 
    font-family: cursive;
    padding-top: 3%;
    padding-bottom: 0%;
}

.navbar {
    padding-top: 2%;
}

.fa {
    color: white;
    font-size: 20pt; 
}

#title {
    color:white;
   font-weight: bold;
}

a:hover {
    text-decoration: none;
}

#indexCarousel {
    padding: 15px; 
    border: 40px solid; 
    border-color: #edc37c;

}

#contactForm {
    border: 10px solid; 
    border-color: #7ced8b;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.toast {
    background-color: #cf7ced;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#liveToastBtn {
    margin-top: 10px;
    background-color: #cf7ced;
    color: white;
    border: none; 
}

#formBtn {
    background-color: #7ced8b;
    color: white;
    border: none; 
}


